:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

cdk-virtual-scroll-viewport {
    flex: 1;
}
mat-grid-tile {
    background-color: lightblue;
}

.initial-margin {
    margin: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
}