<div class="header initial-margin">
    <form>
      <mat-form-field>
        <mat-label>Model name</mat-label>
        <input matInput (input)="onFilter($event)">
      </mat-form-field>
    </form>
    <a routerLink="/">Go back</a>
</div>
<cdk-virtual-scroll-viewport itemSize="50">
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile *cdkVirtualFor="let make of models | async">
      <mat-card>
        <mat-card-content>{{ make.Model_Name }}</mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</cdk-virtual-scroll-viewport>
